/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  background-color: lightsteelblue;
}
.nav-brand{
  display: flex;
  justify-self: center;
}
