/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
header{
  text-align: center;
  padding: 32px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.nav-brand{
  position: absolute;
  padding: 100px;
} 
.nav-item{
  display: flex;
  background-color: lightsteelblue;
}

